<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt=" {{ recipe.name }} "
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="addToShoppingList()"
            >Add to shopping list</a
          >
        </li>
        <li>
          <a (click)="onEdit()" [routerLink]="['edit']" style="cursor: pointer"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDeleteRecipe()"
            >Delete Recipe</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredients of recipe.ingredients"
      >
        {{ ingredients.name }} - {{ ingredients.amount }}
      </li>
    </ul>
  </div>
</div>
