<div class="row">
  <div class="col-xs-12">
    <button
      style="margin-bottom: 10px"
      (click)="onCreate()"
      class="btn btn-success"
    >
      New Recipe
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      [recipe]="recipe"
      *ngFor="let recipe of recipes; let i = index"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
